.Pokedex {
	text-align: center;
	width: 75%;
	background-color: lightgray;
}

.Pokedex-header {
	color: #3c5aa6;
	font-family: 'VT323', monospace;
	font-size: 3em;
	letter-spacing: 2rem;
}

.Pokedex-cards {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
